@import url('https://fonts.googleapis.com/css?family=Roboto|Quicksand|Roboto+Mono');

html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    font-family: quicksand, sans-serif;
}
a {
    text-decoration: none;
}
b {
    color: #ef9a9a;
}
div#root {
    display: grid;
    grid-template-columns: 1fr auto;
    grid-template-areas: "a b";
    nav {
        background: #212121;
        grid-area: b;
        font-family: roboto mono, consolas;
        height: 100vh;
        ul {
            height: fit-content;
            list-style: none;
            padding: 0;
            margin-top: 100px;
            li {
                margin: 40px 30px;
                a {
                    color: lightgray;
                    font-size: 20px;
                }
            }
        }
    }
    div#body {
        background: #141414;
        color: white;
        section#about {
            height: 100vh;
            max-height: 800px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            div#important-links {
                margin: 10px;
                align-self: flex-end;
                display: grid;
                align-items: center;
                grid-template-columns: repeat(4, auto);
                grid-gap: 10px;
                a {
                    box-sizing: border-box;
                    font-size: 25px;
                    border-radius: 20px;
                    background: #252525;
                    color: #eeeeee;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    transition: all 0.1s;
                    &:hover {
                        background: #424242;
                    }
                }
                div#darkmodetoggle {
                    margin-left: 10px;
                    font-size: 17px;
                    background: #1b1b1b;
                    height: 55px;
                    border-radius: 20px;
                    padding-left: 10px;
                    display: flex;
                    align-items: center;
                    cursor: default;
                    div {
                        padding: 5px;
                        display: flex;
                        align-items: center;
                    }
                }
            }
            div#intro {
                display: flex;
                align-items: center;
                justify-content: center;
                h1 {
                    margin-left: 200px;
                    font-size: 40px;
                    font-weight: normal;
                    span {
                        font-size: 30px;
                        span {
                            font-size: 35px;
                            animation: blink 1s infinite;
                        }
                        @keyframes blink {
                            0% {color: white;}
                            40% {color: #141414;}
                            60% {color: #141414;}
                            100% {color: white;}
                        }
                    }
                }
            }
            div#description {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                p {
                    margin: 40px 10px 100px 10px;
                    padding: 20px;
                    font-size: 22px;
                    background: #1b1b1b;
                    height: fit-content;
                    border-radius: 5px;
                }
                div {
                    color: #a3a3a3;
                    i {
                        margin-top: 10px;
                        margin-bottom: 50px;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1080px) {
    div#root {
        div#body {
            section#about {
                div#intro {
                    justify-content: space-evenly;
                    img {
                        margin-left: 10px;
                    }
                    h1 {
                        margin: 0 10px;
                    }
                }
            }
        }
    }
}