@import url("https://fonts.googleapis.com/css?family=Roboto|Quicksand|Roboto+Mono");
html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: quicksand, sans-serif;
}

a {
  text-decoration: none;
}

b {
  color: #ef9a9a;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

div#root {
  display: grid;
  grid-template-columns: 1fr 156px;
  grid-template-areas: "a b";
}
div#root nav {
  background: #222222;
  grid-area: b;
  font-family: roboto mono, consolas;
  height: 100vh;
  display: flex;
  align-items: center;
  position: fixed;
  right: 0;
}
div#root nav ul {
  height: fit-content;
}
div#root nav ul li {
  margin: 40px 30px;
}
div#root nav ul li a {
  color: lightgray;
  font-size: 20px;
}
div#root nav ul li a:hover {
  text-decoration: underline;
}
div#root div#body {
  z-index: 1;
  box-shadow: 0 0 15px #000000;
  background: #141414;
  color: white;
}
div#root div#body section#about {
  height: 100vh;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
div#root div#body section#about div#important-links {
  margin: 10px;
  align-self: flex-end;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
}
div#root div#body section#about div#important-links a {
  font-size: 25px;
  border-radius: 20px;
  background: #1b1b1b;
  color: #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transition: all 0.1s;
}
div#root div#body section#about div#important-links a:hover {
  background: #424242;
  color: #eeeeee;
}
div#root div#body section#about div#important-links div#darkmodetoggle {
  font-family: roboto mono;
  font-size: 17px;
  background: #1b1b1b;
  height: 45px;
  border-radius: 22.5px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  cursor: default;
}
div#root div#body section#about div#important-links div#darkmodetoggle div {
  padding: 5px;
  display: flex;
  align-items: center;
}
div#root div#body section#about div#intro {
  display: flex;
  align-items: center;
  justify-content: center;
}
div#root div#body section#about div#intro h1 {
  margin-left: 200px;
  font-size: 40px;
  font-weight: normal;
}
div#root div#body section#about div#intro h1 span {
  font-size: 30px;
}
div#root div#body section#about div#intro h1 span:after {
  content: "|";
  font-size: 35px;
  animation: blink 1s infinite;
}
@keyframes blink {
  0% {
    color: #eeeeee;
  }
  15% {
    color: #eeeeee;
  }
  35% {
    color: #141414;
  }
  65% {
    color: #141414;
  }
  85% {
    color: #eeeeee;
  }
  100% {
    color: #eeeeee;
  }
}
div#root div#body section#about div#description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
div#root div#body section#about div#description p {
  margin: 40px 10px 100px 10px;
  padding: 20px;
  font-size: 22px;
  background: #1b1b1b;
  height: fit-content;
  border-radius: 5px;
}
div#root div#body section#about div#description div {
  color: #a3a3a3;
  text-align: center;
}
div#root div#body section#about div#description div i {
  margin-top: 10px;
  margin-bottom: 50px;
}
div#root div#body section#skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #1b1b1b;
  padding-bottom: 50px;
}
div#root div#body section#skills h2 {
  flex-basis: 100%;
  text-align: center;
  font-weight: normal;
  margin: 50px 10px;
}
div#root div#body section#skills .skill-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
div#root div#body section#skills .skillset {
  max-width: 450px;
  min-width: 300px;
  margin: 0 10px;
  margin-bottom: 20px;
  cursor: default;
}
div#root div#body section#skills .skillset ul {
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: #141414;
  border-radius: 10px;
}
div#root div#body section#skills .skillset ul span {
  font-family: roboto mono;
  margin-bottom: 20px;
  color: #999999;
  flex-basis: 100%;
  text-align: center;
}
div#root div#body section#skills .skillset ul li {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  color: #eeeeee;
  height: 65px;
}
div#root div#body section#skills .skillset ul li img {
  height: 100%;
}
div#root div#body section#skills .skillset ul li .small {
  height: 80%;
}
div#root div#body section#skills .skillset ul li .smaller {
  height: 55%;
}
div#root div#body section#skills .skillset ul li .light-bg {
  background: #e0e0e0;
  padding: 5px 10px;
  border-radius: 25px;
}
div#root div#body section#skills .skillset ul .break {
  height: 0;
  margin: 0;
  padding: 0;
  flex-basis: 100%;
}
div#root div#body section#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 60px;
}
div#root div#body section#projects h2 {
  flex-basis: 100%;
  text-align: center;
  font-weight: normal;
  margin: 60px 10px;
}
div#root div#body section#projects div#projects-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  width: 900px;
}
div#root div#body section#projects div#projects-grid .project {
  margin: 10px;
  border-radius: 10px;
  height: 221px;
  width: 330px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1b1b1b;
  font-size: 20px;
  font-family: roboto mono;
}
div#root div#body section#projects div#projects-grid .project a {
  color: white;
}
div#root div#body section#projects div#projects-grid .project a:hover {
  text-decoration: underline;
}
div#root div#body section#projects div#projects-grid .project img {
  width: 330px;
}
div#root div#body section#projects div#projects-grid .project .project-link {
  cursor: default;
  transition: all 0.2s;
  background: rgba(41, 41, 41, 0.8);
  opacity: 0;
  z-index: 2;
  position: absolute;
  top: 0;
  width: 330px;
  height: 221px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div#root div#body section#projects div#projects-grid .project .project-link span {
  background: rgba(41, 41, 41, 0.5);
  border-radius: 10px;
  padding: 10px;
}
div#root div#body section#projects div#projects-grid .project .project-link a {
  font-size: 18px;
  color: white;
  background: #d32f2f;
  padding: 10px;
  border-radius: 5px;
  transition: all 0.1s;
}
div#root div#body section#projects div#projects-grid .project .project-link a:hover {
  background: #e53935;
  text-decoration: none;
}
div#root div#body section#projects div#projects-grid .project:hover .project-link {
  opacity: 1;
}
div#root div#body section#contact {
  background: #1b1b1b;
  padding: 10px;
  display: flex;
  flex-wrap: wrap;
  min-width: 300px;
}
div#root div#body section#contact div#contact-form {
  flex-basis: 50%;
  padding: 20px;
}
div#root div#body section#contact div#contact-form h2 {
  text-align: center;
  font-weight: normal;
}
div#root div#body section#contact div#contact-form form {
  width: 100%;
}
div#root div#body section#contact div#contact-form div {
  width: 100%;
}
@media only screen and (max-width: 1280px) {
  div#root div#body section#about div#intro {
    justify-content: space-evenly;
  }
  div#root div#body section#about div#intro img {
    margin-left: 10px;
  }
  div#root div#body section#about div#intro h1 {
    margin: 0 10px;
  }
  div#root div#body section#projects div#projects-grid {
    grid-template-columns: auto auto;
    width: auto;
  }
  div#root div#body section#contact div#contact-form {
    flex-basis: 100%;
  }
}
@media only screen and (max-width: 768px) {
  div#root div#body section#about {
    max-height: 100vh;
    height: 100vh;
  }
  div#root div#body section#about div#intro {
    justify-content: space-evenly;
  }
  div#root div#body section#about div#intro img {
    margin-left: 10px;
  }
  div#root div#body section#about div#intro h1 {
    margin: 0 10px;
  }
}
@media only screen and (max-width: 720px) {
  div#root div#body section#projects div#projects-grid {
    grid-template-columns: auto;
    width: auto;
  }
}

/*# sourceMappingURL=index.css.map */
