@import url('https://fonts.googleapis.com/css?family=Roboto|Quicksand|Roboto+Mono');

html {
    scroll-behavior: smooth;
}
body {
    padding: 0;
    margin: 0;
    font-family: quicksand, sans-serif;
}
a {
    text-decoration: none;
}
b {
    color: #ef9a9a;
}
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
div#root {
    display: grid;
    grid-template-columns: 1fr 156px;
    grid-template-areas: "a b";
    nav {
        background: #222222;
        grid-area: b;
        font-family: roboto mono, consolas;
        height: 100vh;
        display: flex;
        align-items: center;
        position: fixed;
        right: 0;
        ul {
            height: fit-content;
            li {
                margin: 40px 30px;
                a {
                    color: lightgray;
                    font-size: 20px;
                }
            }
        }
    }
    div#body {
        z-index: 1;
        box-shadow: 0 0 15px #000000;
        background: #141414;
        color: white;
        section#about {
            height: 100vh;
            max-height: 800px;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            div#important-links {
                margin: 10px;
                align-self: flex-end;
                display: grid;
                align-items: center;
                grid-template-columns: repeat(4, auto);
                grid-gap: 10px;
                a {
                    font-size: 25px;
                    border-radius: 20px;
                    background: #1b1b1b;
                    color: #dddddd;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    width: 40px;
                    height: 40px;
                    transition: all 0.1s;
                    &:hover {
                        background: #424242;
                        color: #eeeeee;
                    }
                }
                div#darkmodetoggle {
                    font-size: 17px;
                    background: #1b1b1b;
                    height: 45px;
                    border-radius: 22.5px;
                    padding-left: 10px;
                    display: flex;
                    align-items: center;
                    cursor: default;
                    div {
                        padding: 5px;
                        display: flex;
                        align-items: center;
                    }
                }
            }
            div#intro {
                display: flex;
                align-items: center;
                justify-content: center;
                h1 {
                    margin-left: 200px;
                    font-size: 40px;
                    font-weight: normal;
                    span {
                        font-size: 30px;
                        &:after {
                            content: '|';
                            font-size: 35px;
                            animation: blink 1s infinite;
                        }
                        @keyframes blink {
                            0% {color: white;}
                            40% {color: #141414;}
                            60% {color: #141414;}
                            100% {color: white;}
                        }
                    }
                }
            }
            div#description {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: space-between;
                p {
                    margin: 40px 10px 100px 10px;
                    padding: 20px;
                    font-size: 22px;
                    background: #1b1b1b;
                    height: fit-content;
                    border-radius: 5px;
                }
                div {
                    color: #a3a3a3;
                    i {
                        margin-top: 10px;
                        margin-bottom: 50px;
                    }
                }
            }
        }
        section#skills {
            display: flex;
            flex-wrap: wrap;
            justify-content: center;
            background: #1b1b1b;
            padding-bottom: 50px;
            h2 {
                flex-basis: 100%;
                text-align: center;
                font-weight: normal;
                margin: 50px 10px;
            }
            .skill-row {
                display: flex;
                flex-wrap: wrap;
                justify-content: center;
            }
            .skillset {
                width: 500px;
                margin: 0 10px;
                margin-bottom: 20px;
                cursor: default;
                ul {
                    padding: 10px;
                    display: flex;
                    flex-wrap: wrap;
                    justify-content: space-evenly;
                    background: #141414;
                    border-radius: 10px;
                    span {
                        padding: 15px;
                        margin-bottom: 20px;
                        color: #999999;
                        flex-basis: 100%;
                        text-align: center;
                    }
                    li {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        margin-bottom: 30px;
                        color: #eeeeee;
                        height: 70px;
                        img {
                            height: 100%;
                        }
                        .small {
                            height: 80%;
                        }
                        .smaller {
                            height: 55%;
                        }
                        .light-bg {
                            background: #e0e0e0;
                            padding: 5px 10px;
                            border-radius: 25px;
                        }
                    }
                    .break {
                        height: 0;
                        margin: 0;
                        padding: 0;
                        flex-basis: 100%;
                    }
                }
            }
        }
    }
}

@media only screen and (max-width: 1080px) {
    div#root {
        div#body {
            section#about {
                height: 100vh;
                max-height: 100vh;
                div#intro {
                    justify-content: space-evenly;
                    img {
                        margin-left: 10px;
                    }
                    h1 {
                        margin: 0 10px;
                    }
                }
            }
        }
    }
}