@import url("https://fonts.googleapis.com/css?family=Roboto|Quicksand|Roboto+Mono");
html {
  scroll-behavior: smooth;
}

body {
  padding: 0;
  margin: 0;
  font-family: quicksand, sans-serif;
}

a {
  text-decoration: none;
}

b {
  color: #ef9a9a;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

div#root {
  display: grid;
  grid-template-columns: 1fr 156px;
  grid-template-areas: "a b";
}
div#root nav {
  background: #222222;
  grid-area: b;
  font-family: roboto mono, consolas;
  height: 100vh;
  display: flex;
  align-items: center;
  position: fixed;
  right: 0;
}
div#root nav ul {
  height: fit-content;
}
div#root nav ul li {
  margin: 40px 30px;
  box-sizing: border-box;
  padding-left: 5px;
  border-left: 3px solid transparent;
  transition: all 0.1s;
}
div#root nav ul li a {
  color: lightgray;
  font-size: 20px;
}
div#root nav ul li a:hover {
  text-decoration: underline;
}
div#root nav .active {
  border-left: 3px solid #616161;
  font-weight: bold;
}
div#root div#body {
  z-index: 1;
  box-shadow: 0 0 15px #000000;
  background: #141414;
  color: white;
}
div#root div#body section#about {
  height: 100vh;
  max-height: 800px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
div#root div#body section#about div#important-links {
  margin: 10px;
  align-self: flex-end;
  display: grid;
  align-items: center;
  grid-template-columns: repeat(4, auto);
  grid-gap: 10px;
}
div#root div#body section#about div#important-links a {
  font-size: 25px;
  border-radius: 20px;
  background: #1b1b1b;
  color: #dddddd;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  transition: all 0.1s;
}
div#root div#body section#about div#important-links a:hover {
  background: #424242;
  color: #eeeeee;
}
div#root div#body section#about div#important-links div#darkmodetoggle {
  font-family: roboto mono;
  font-size: 17px;
  background: #1b1b1b;
  color: #dddddd;
  height: 45px;
  border-radius: 22.5px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  cursor: default;
}
div#root div#body section#about div#important-links div#darkmodetoggle div {
  padding: 5px;
  display: flex;
  align-items: center;
}
div#root div#body section#about div#intro {
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}
div#root div#body section#about div#intro h1 {
  margin-left: 200px;
  font-size: 40px;
  font-weight: normal;
}
div#root div#body section#about div#intro h1 span {
  font-size: 30px;
}
div#root div#body section#about div#intro h1 span:after {
  content: "|";
  font-size: 35px;
  animation: blink 1s infinite;
}
@keyframes blink {
  0% {
    color: #eeeeee;
  }
  15% {
    color: #eeeeee;
  }
  35% {
    color: #141414;
  }
  65% {
    color: #141414;
  }
  85% {
    color: #eeeeee;
  }
  100% {
    color: #eeeeee;
  }
}
div#root div#body section#about div#description {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
div#root div#body section#about div#description p {
  margin: 40px 20px 100px 20px;
  padding: 20px;
  font-size: 22px;
  background: #1b1b1b;
  height: fit-content;
  border-radius: 5px;
  text-align: center;
}
div#root div#body section#about div#description div {
  color: #a3a3a3;
  text-align: center;
}
div#root div#body section#about div#description div i {
  margin-top: 10px;
  margin-bottom: 50px;
}
div#root div#body section#skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  background: #1b1b1b;
  padding-bottom: 50px;
}
div#root div#body section#skills h2 {
  flex-basis: 100%;
  text-align: center;
  font-weight: normal;
  margin: 50px 10px;
}
div#root div#body section#skills .skill-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
div#root div#body section#skills .skillset {
  max-width: 450px;
  min-width: 300px;
  margin: 0 10px;
  margin-bottom: 20px;
  cursor: default;
}
div#root div#body section#skills .skillset ul {
  padding: 25px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  background: #141414;
  border-radius: 10px;
}
div#root div#body section#skills .skillset ul span {
  font-family: roboto mono;
  margin-bottom: 20px;
  color: #999999;
  flex-basis: 100%;
  text-align: center;
}
div#root div#body section#skills .skillset ul li {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  height: 65px;
}
div#root div#body section#skills .skillset ul li img {
  height: 100%;
}
div#root div#body section#skills .skillset ul li .small {
  height: 80%;
}
div#root div#body section#skills .skillset ul li .smaller {
  height: 55%;
}
div#root div#body section#skills .skillset ul li .large {
  height: 115%;
}
div#root div#body section#skills .skillset ul li .light-bg {
  background: #e0e0e0;
  padding: 5px 10px;
  border-radius: 25px;
}
div#root div#body section#skills .skillset ul .break {
  height: 0;
  margin: 0;
  padding: 0;
  flex-basis: 100%;
}
div#root div#body section#projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-bottom: 80px;
}
div#root div#body section#projects h2 {
  flex-basis: 100%;
  text-align: center;
  font-weight: normal;
  margin: 60px 10px;
}
div#root div#body section#projects div#projects-grid {
  display: grid;
  grid-template-columns: repeat(3, auto);
  justify-content: center;
  width: 900px;
}
div#root div#body section#projects div#projects-grid .project {
  margin: 10px;
  border-radius: 10px;
  height: 221px;
  width: 330px;
  overflow: hidden;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #1b1b1b;
  font-size: 20px;
  font-family: roboto mono;
}
div#root div#body section#projects div#projects-grid .project a {
  color: white;
}
div#root div#body section#projects div#projects-grid .project a:hover {
  text-decoration: underline;
}
div#root div#body section#projects div#projects-grid .project img {
  width: 330px;
}
div#root div#body section#projects div#projects-grid .project .project-link {
  cursor: default;
  transition: all 0.2s;
  background: rgba(41, 41, 41, 0.8);
  opacity: 0;
  z-index: 2;
  position: absolute;
  top: 0;
  width: 330px;
  height: 221px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
div#root div#body section#projects div#projects-grid .project .project-link span {
  background: rgba(41, 41, 41, 0.9);
  border-radius: 10px;
  padding: 10px;
}
div#root div#body section#projects div#projects-grid .project .project-link a {
  font-size: 18px;
  color: white;
  background: #d32f2f;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.1s;
}
div#root div#body section#projects div#projects-grid .project .project-link a:hover {
  background: #e53935;
  text-decoration: none;
}
div#root div#body section#projects div#projects-grid .project .focused {
  opacity: 1;
}
div#root div#body section#projects div#projects-grid .project:hover .project-link {
  opacity: 1;
}
div#root div#body section#projects h3 {
  margin: 130px 10px 30px 10px;
  font-weight: normal;
  display: flex;
  flex-basis: 100%;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  font-size: 25px;
}
div#root div#body section#projects h3 span {
  color: #bdbdbd;
  font-size: 18px;
  margin: 15px;
}
div#root div#body section#projects div#mentions {
  display: flex;
  width: 800px;
}
div#root div#body section#projects div#mentions div {
  margin: 10px;
}
div#root div#body section#contact {
  background: #1b1b1b;
  padding: 50px 10px;
  display: flex;
}
div#root div#body section#contact div#contact-form {
  display: flex;
  justify-content: flex-start;
  flex-basis: 50%;
  padding: 20px;
}
div#root div#body section#contact div#contact-form h2 {
  margin: 10px 0;
  text-align: center;
  font-weight: normal;
}
div#root div#body section#contact div#contact-form h2 span {
  font-size: 20px;
}
div#root div#body section#contact div#contact-form form {
  min-height: 500px;
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 20px;
  box-sizing: border-box;
  background: #141414;
  border-radius: 10px;
}
div#root div#body section#contact div#contact-form form label {
  font-size: 20px;
}
div#root div#body section#contact div#contact-form form input, div#root div#body section#contact div#contact-form form textarea {
  margin: 20px 0;
  width: 85%;
  height: 20px;
  font-family: quicksand, sans-serif;
  background: #212121;
  color: white;
  border: none;
  padding: 12px;
  font-size: 18px;
  outline: none;
  border-radius: 5px;
  transition: all 0.1s;
}
div#root div#body section#contact div#contact-form form input:hover, div#root div#body section#contact div#contact-form form input:focus, div#root div#body section#contact div#contact-form form textarea:hover, div#root div#body section#contact div#contact-form form textarea:focus {
  background: #333333;
}
div#root div#body section#contact div#contact-form form textarea {
  resize: vertical;
  height: 200px;
}
div#root div#body section#contact div#contact-form form button {
  width: 100px;
  padding: 10px;
  font-size: 18px;
  margin-top: 10px;
  margin-bottom: 20px;
  cursor: pointer;
  background: #c62828;
  color: white;
  font-family: quicksand, sans-serif;
  border: none;
  border-radius: 5px;
  transition: all 0.1s;
}
div#root div#body section#contact div#contact-form form button:hover, div#root div#body section#contact div#contact-form form button:focus {
  background: #e53935;
}
div#root div#body section#contact div#contact-form form p {
  font-size: 18px;
}
div#root div#body section#contact div#social-links {
  flex-basis: 50%;
  padding: 20px;
  font-size: 18px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
div#root div#body section#contact div#social-links div#twitter {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
div#root div#body section#contact div#social-links div#twitter p {
  margin: 25px 0;
  display: flex;
  justify-content: center;
}
div#root div#body section#contact div#social-links div#twitter div#daysofcode {
  font-size: 15px;
  color: #eeeeee;
  background: #212121;
  padding: 10px 20px;
  margin: 10px 0;
  width: fit-content;
  border-radius: 10px;
}
div#root div#body section#contact div#social-links div#twitter i#hashtag {
  color: #64b5f6;
  font-family: roboto mono;
  font-style: normal;
}
div#root div#body section#contact div#social-links div#links {
  text-align: center;
  margin: 10px 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}
div#root div#body section#contact div#social-links div#links a {
  width: fit-content;
  color: white;
  display: flex;
  align-items: center;
  font-size: 18px;
  padding: 15px;
  margin: 10px;
  background: #212121;
  border-radius: 5px;
  transition: all 0.1s;
}
div#root div#body section#contact div#social-links div#links a i {
  font-size: 35px;
}
div#root div#body section#contact div#social-links div#links a:hover {
  background: #b71c1c;
}
div#root div#body footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  color: #b4b4b4;
  padding: 50px;
}
div#root div#body footer p {
  padding: 10px;
  margin: 0;
}
div#root div#body footer span {
  font-size: 15px;
  margin: 10px;
}

.light-theme b {
  color: #d32f2f;
}
.light-theme div#root nav {
  background: #eeeeee;
}
.light-theme div#root nav ul li a {
  color: #424242;
}
.light-theme div#root div#body {
  box-shadow: 0 0 15px #757575;
  background: white;
  color: black;
}
.light-theme div#root div#body section#about div#important-links a {
  box-sizing: border-box;
  background: #fafafa;
  color: #424242;
  border: 1px solid #e0e0e0;
}
.light-theme div#root div#body section#about div#important-links a:hover {
  background: #ffcdd2;
  border-color: #ef9a9a;
}
.light-theme div#root div#body section#about div#important-links div#darkmodetoggle {
  background: #fafafa;
  color: #424242;
  box-sizing: border-box;
  border: 1px solid #e0e0e0;
}
@keyframes blink {
  0% {
    color: #141414;
  }
  15% {
    color: #141414;
  }
  35% {
    color: #ffffff;
  }
  65% {
    color: #ffffff;
  }
  85% {
    color: #141414;
  }
  100% {
    color: #141414;
  }
}
.light-theme div#root div#body section#about div#description p {
  background: #f5f5f5;
  border-radius: 10px;
}
.light-theme div#root div#body section#about div#description div {
  color: #424242;
}
.light-theme div#root div#body section#skills {
  background: #ffffff;
}
.light-theme div#root div#body section#skills h2 {
  font-weight: bold;
}
.light-theme div#root div#body section#skills .skillset {
  box-sizing: border-box;
}
.light-theme div#root div#body section#skills .skillset ul {
  border: 1px solid #eeeeee;
  background: #fafafa;
}
.light-theme div#root div#body section#skills .skillset ul span {
  color: #5a5a5a;
}
.light-theme div#root div#body section#skills .skillset ul li .light-bg {
  background: #fafafa;
}
.light-theme div#root div#body section#projects h2 {
  font-weight: bold;
}
.light-theme div#root div#body section#projects div#projects-grid .project {
  background: #f5f5f5;
}
.light-theme div#root div#body section#projects div#projects-grid .project a {
  color: black;
}
.light-theme div#root div#body section#projects div#projects-grid .project .project-link {
  background: rgba(226, 226, 226, 0.8);
}
.light-theme div#root div#body section#projects div#projects-grid .project .project-link span {
  background: white;
}
.light-theme div#root div#body section#projects div#projects-grid .project .project-link a {
  background: #ef9a9a;
  box-sizing: border-box;
  border: 1px solid #212121;
}
.light-theme div#root div#body section#projects div#projects-grid .project .project-link a:hover {
  background: #ffcdd2;
}
.light-theme div#root div#body section#projects h3 {
  font-weight: bold;
}
.light-theme div#root div#body section#projects h3 span {
  color: #616161;
}
.light-theme div#root div#body section#contact {
  background: #ffffff;
}
.light-theme div#root div#body section#contact div#contact-form h2 {
  font-weight: bold;
}
.light-theme div#root div#body section#contact div#contact-form form {
  background: #eeeeee;
  border: 1px solid #e0e0e0;
}
.light-theme div#root div#body section#contact div#contact-form form input, .light-theme div#root div#body section#contact div#contact-form form textarea {
  border: 1px solid #e0e0e0;
  background: #fafafa;
  color: #000000;
}
.light-theme div#root div#body section#contact div#contact-form form input:hover, .light-theme div#root div#body section#contact div#contact-form form input:focus, .light-theme div#root div#body section#contact div#contact-form form textarea:hover, .light-theme div#root div#body section#contact div#contact-form form textarea:focus {
  background: #ffffff;
}
.light-theme div#root div#body section#contact div#contact-form form button {
  background: #d32f2f;
}
.light-theme div#root div#body section#contact div#contact-form form button:hover {
  background: #f44336;
}
.light-theme div#root div#body section#contact div#social-links div#twitter div#daysofcode {
  font-weight: 600;
  background: #eeeeee;
  color: black;
  border: 1px solid #e0e0e0;
}
.light-theme div#root div#body section#contact div#social-links div#twitter i#hashtag {
  color: #1565c0;
}
.light-theme div#root div#body section#contact div#social-links div#links {
  font-weight: bold;
}
.light-theme div#root div#body section#contact div#social-links div#links a {
  color: #212121;
  background: #eeeeee;
}
.light-theme div#root div#body section#contact div#social-links div#links a:hover {
  background: #d32f2f;
  color: #ffffff;
}
.light-theme div#root div#body footer {
  background: #eeeeee;
  color: #424242;
  font-weight: bold;
}

@media only screen and (max-width: 1280px) {
  div#root {
    display: block;
  }
  div#root nav {
    display: none;
  }
  div#root div#body {
    box-shadow: none;
  }
  div#root div#body section#about div#intro {
    justify-content: space-evenly;
  }
  div#root div#body section#about div#intro img {
    margin-left: 10px;
  }
  div#root div#body section#about div#intro h1 {
    margin: 0 10px;
  }
  div#root div#body section#projects div#projects-grid {
    grid-template-columns: auto auto;
    width: auto;
  }
}
@media only screen and (max-width: 1080px) {
  div#root div#body section#about {
    max-height: auto;
    height: auto;
  }
  div#root div#body section#contact {
    box-sizing: border-box;
    flex-direction: column-reverse;
    flex-wrap: wrap;
    align-items: center;
  }
  div#root div#body section#contact div#contact-form {
    box-sizing: border-box;
    flex-basis: 100%;
    width: 100%;
    justify-content: center;
  }
  div#root div#body section#contact div#contact-form form {
    min-width: 300px;
    max-width: 600px;
    margin: auto;
    min-height: fit-content;
  }
  div#root div#body section#contact div#social-links {
    flex-basis: 100%;
    align-items: center;
  }
  div#root div#body section#contact div#social-links div#links {
    align-items: center;
  }
}
@media only screen and (max-width: 820px) {
  div#root div#body section#projects div#mentions {
    width: 90%;
    align-items: center;
    flex-direction: column;
  }
}
@media only screen and (max-width: 768px) {
  div#root div#body section#about {
    max-height: auto;
    height: auto;
  }
  div#root div#body section#about div#intro {
    justify-content: space-evenly;
  }
  div#root div#body section#about div#intro img {
    margin-left: 10px;
  }
  div#root div#body section#about div#intro h1 {
    margin: 0 10px;
  }
  div#root div#body section#contact div#contact-form {
    padding: 20px 0;
  }
  div#root div#body section#contact div#contact-form form {
    margin: auto;
  }
}
@media only screen and (max-width: 720px) {
  div#root div#body section#about {
    height: auto;
    max-height: fit-content;
  }
  div#root div#body section#about div#important-links {
    grid-template-columns: auto auto 1fr;
    align-self: center;
    width: 95%;
  }
  div#root div#body section#about div#important-links div {
    justify-self: right;
  }
  div#root div#body section#about div#intro {
    flex-direction: column-reverse;
  }
  div#root div#body section#about div#intro h1 {
    margin: 30px 10px;
  }
  div#root div#body section#about div#intro img {
    width: 220px;
  }
  div#root div#body section#about div#description p {
    margin: 40px 20px;
  }
  div#root div#body section#projects div#projects-grid {
    grid-template-columns: auto;
    width: auto;
  }
  div#root div#body section#contact div#social-links {
    padding: 0;
  }
  div#root div#body footer {
    flex-direction: column-reverse;
  }
}

/*# sourceMappingURL=index.css.map */
